<div class="post audio">
    <div class="post-icon">
        <%= fa_icon 'headphones' %>
    </div>
    <div class="post-content">
        <%== post['player'] %>
    </div>
    <div class="detailed-information">
        <p><%= post['album'] %></p>
        <p><%= post['track_name'] %> : <%= post['artist'] %></p>
        <%== post['caption'] %>
        <p><%= image_tag post['album_art'] %></p>
    </div>
</div>
