<div class="post audio">
    <p><%== post['caption'] %></p>
    <p><%== post['player'] %></p>
    <p><%= image_tag post['album_art'] %></p>
    <p><%= post['artist'] %></p>
    <p><%= post['album'] %></p>
    <p><%= post['track_name'] %></p>
    <p><%= post['track_number'] %></p>
    <p><%= post['year'] %></p>
</div>
