<nav class="navbar navbar-right">
    <ul>
        <li><%= fa_icon 'random' %></li>
        <li><%= fa_icon 'user' %></li>
        <li><%= fa_icon 'cog' %></li>
        <li><%= link_to destroy_user_session_path, method: :delete do %>
            <%= fa_icon 'sign-out' %>
        <% end %></li>
        <li><%= image_tag client.avatar(blogs[0]['name']) %></li>
        <!-- <li><span id="icon-selected-blog"></span><i data-tools="dropdown" data-target="#list-blog"  class="fa fa-angle-down" ></i></li>  -->
    </ul>
</nav>
<ul id="list-blog" class="dropdown">
    <li><a href="#">hoge</a></li>
    <li><a href="#">fuga</a></li>
    <li><a href="#">piyo</a></li>
    <li><a href="#">hoge</a></li>
    <li><a href="#">fuga</a></li>
    <li><a href="#">piyo</a></li>
</ul>
