<h2>random post at <%= current_user.uid %></h2>
<h3><%= @post['type'] %></h3>
<% case @post['type'] %>
<% when 'text' %>
    <%= @post['title'] %><br>
    <%= @post['body'] %>
<% when 'photo' %>
    <%= image_tag @post['photos'][0]['original_size']['url'] %><br>
    <%= @post['caption'].html_safe %>
<% when 'quote' %>
    <%= @post['text'].html_safe %><br>
    <%= @post['source'].html_safe %>
<% when 'link' %>
<% when 'answer' %>
<% when 'video' %>
<% when 'audio' %>
<% when 'chat' %>
<% else %>
<% end %>
