<!DOCTYPE html>
<html>
    <head>
        <title>Tumblrandom</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'users',       media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header class="units-row">
            <div class="unit-35">
                <%= render partial: 'users/navbar_left', locals: {client: @client, blogs: @blogs} %>
            </div>

            <div class="unit-30">
                <h1 id="logo">tumblrandom</h1>
            </div>

            <div class="unit-35">
                <%= render partial: 'users/navbar_right' %>
            </div>

        </header>

        <div class="units-row" id="contents-area">
            <div class="unit-push-10 unit-80">
                <%= yield %>

                <p class="notice"><%= notice %></p>
                <p class="alert"><%= alert %></p>
            </div>
        </div>

        <footer>
            (c) 2014-2015 @hnmx4
        </footer>
    </body>
</html>
