<!DOCTYPE html>
<html>
　    <head>
        <title>Tumblrandom</title>
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= stylesheet_link_tag    'users',       media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <span name="top"></span>
        <header class="units-row">
            <div class="unit-30">
                <%= render partial: 'users/navbar_left', locals: {client: @client, blogs: @blogs} %>
            </div>

            <div class="unit-40 logo-unit">
                <h1 id="logo"><span>tumb</span>lrandom</h1>
            </div>

            <div class="unit-30">
                <%= render partial: 'users/navbar_right', locals: {cogs: @cogs} %>
            </div>
        </header>

        <div id="contents-area" class="units-row">
            <%= yield %>

            <p class="notice"><%= notice %></p>
            <p class="alert"><%= alert %></p>
        </div>

        <footer class="units-row">
            <div class="unit-30">
                (c) 2014-2015 @hnmx4
            </div>
            <div class="unit-40 text-right bottom-bar">
                <%= link_to :controller => "users", :action => "dashboard" do %>
                    <%= fa_icon 'random' %>
                <% end %>
            </div>
            <div class="unit-30 text-right bottom-bar">
                <a href="#top"><%= fa_icon 'arrow-up' %></a>
            </div>
        </footer>
    </body>
</html>
